[text-color="my-custom-color"] {
    color: rgb(20, 8, 8);
}
.signin{
    background: linear-gradient( #fff 10% , #C9F1FD 90%) ;
}
.imagem2{
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}